
:root {
  font-family: 'Jersey 10', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background-image: url("/img/nuvens-vetor.jpg");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Faz a barra de título ficar fixa no topo e rosa */
.titlebar {
  height: 30px;
  background: #ff80ab; /* Um rosa mais forte para destacar */
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
}

/* Estilo do botão de fechar */
.botao-controle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: background 0.2s;
}

.botao-controle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Dá um espaço no topo do conteúdo para não ficar embaixo da barra */
.content {
  margin-top: 40px;
}

.balanço-patrimonial{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Navegação entre páginas */
.navigation {
  display: flex;
  gap: 20px;
  padding: 15px 20px;
  background: rgba(255, 182, 193, 0.3);
  border-bottom: 1px solid #ff80ab;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 4px;
  transition: background 0.3s;
}

.navigation a:hover {
  background: rgba(255, 128, 171, 0.5);
}

.buttomHome1 {
  margin: 10px;
  font-family: 'Jersey 10', sans-serif;
  background-color: #d7d6cb;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: solid 0.125rem #121212;
  box-shadow: 0.25rem 0.25rem #121212;
  cursor: pointer;
  transition: translate 200ms, box-shadow 200ms;
}

.buttomHome1:active {
  translate: 0.125rem 0.125rem;
  box-shadow: 0.125rem 0.125rem #121212;
}

.buttomHome2 {
  margin: 10px;
  font-family: 'Jersey 10', sans-serif;
  background-color: #d7d6cb;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: solid 0.125rem #121212;
  box-shadow: 0.25rem 0.25rem #121212;
  cursor: pointer;
  transition: translate 200ms, box-shadow 200ms;
}

.buttomHome2:active {
  translate: 0.125rem 0.125rem;
  box-shadow: 0.125rem 0.125rem #121212;
}